.friendCard {
  border: 2px solid navy;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  min-width: 80px;
}

.name {
  margin-top: 10px;
  font-size: larger;
}

.offline::after {
  content: "Offline";
  color: crimson;
}

.online::after {
  content: "Online";
  color: forestgreen;
}
